#header{
    text-align: center;
    color: rgb(145, 115, 115);
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}
body{
    background-color: RGB(18, 18, 18);
}
#bod,#custom{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 30px auto;
    justify-content: center;
}
.Tile{
    display: flex;
    width: 300px;
    height: 150px;
    height: fit-content;
    border: none;
    padding: 3%;
    margin: 5px;
    color: rgb(116, 122, 122);
    background: rgba(30, 30, 30, 0.8); 
    backdrop-filter: blur(5px); 
    font-size: 30px;
    justify-self:center;
    text-align: center;
    align-items: center;
    border-radius: 10px; 
    transition:all 0.3s ease-in-out;
    position: relative;
    z-index: 10;
}
.Tile:hover{
    background: rgb(50,50,50,0.9);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
.custom-tile{
    width: 50%; 
    text-align: center;  
    padding: 10px;
}
body{
    justify-content: center;
}

button {
    width: 100%;
    background: transparent; 
    border: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; 
}

button:hover {
    background: #ccc;
    transform: scale(1.1);
}
#model{
    display: none;
    border:solid black;
    width: fit-content;
    position: fixed;
    top:15%;
    left:35%;
    width: 300px;
    border-radius: 3%;
    padding-right:3%px;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}
#overlay{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5); 
    z-index: 1000;

}

#model label {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#model input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color:whitesmoke;
    background-color: #666;
    text-align: center;
    font-size: 16px;
}

#model button {
    background-color: #444;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 25%;
    margin-top: 15px;
    border-radius: 5px;
}

#model button:hover {
    background-color: #666;
}
#bb{
    display: flex;
    justify-content: space-between;
}
