#header{
    text-align: center;
}
#bod,#custom{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 30px auto;
    justify-content: center;
}
.Tile{
    display: flex;
    width: 100px;
    height: fit-content;
    border: solid black 1px;
    padding: 3%;
}
.custom-tile{
    width: 50%; 
    text-align: center;  
    padding: 10px;
    margin-left: 100px auto;
    margin-top: 2px;
}
body{
    justify-content: center;
}
#big-box {
    display: flex;
    width: 90vw; 
    height: 80vh;
    margin: auto;
    border: 2px solid black;
}

#left, #right {
    flex: 1;  
    background-color: lightblue; 
}

#middle {
    flex: 0.2; 
    background-color: lightgray;
}

#left, #middle, #right {
    height: 100%; 
}
